.redux-container-switch {
  /*disable text selection*/
}
.redux-container-switch .switch-options {
  min-height: 30px;
  margin-right: 10px;
}
.redux-container-switch .switch-options label {
  cursor: pointer;
}
.redux-container-switch .switch-options input {
  display: none;
}
.redux-container-switch .cb-enable span,
.redux-container-switch .cb-disable span {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.redux-container-switch .cb-enable,
.redux-container-switch .cb-disable,
.redux-container-switch .cb-enable span,
.redux-container-switch .cb-disable span {
  background: url(switch.gif) repeat-x;
  display: block;
  float: left;
}
.redux-container-switch .cb-enable span,
.redux-container-switch .cb-disable span {
  line-height: 30px;
  display: block;
  background-repeat: no-repeat;
  font-weight: 700;
}
.redux-container-switch .cb-enable span {
  background-position: left -90px;
  padding: 0 10px;
}
.redux-container-switch .cb-disable span {
  background-position: right -180px;
  padding: 0 10px;
}
.redux-container-switch .cb-disable.selected {
  background-position: 0 -30px;
}
.redux-container-switch .cb-disable.selected span {
  background-position: right -210px;
  color: #fff;
}
.redux-container-switch .cb-enable.selected {
  background-position: 0 -60px;
}
.redux-container-switch .cb-enable.selected span {
  background-position: left -150px;
  color: #fff;
}
