.redux-main .redux-typography-container {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 660px;
}
.redux-main .redux-typography-container .clearfix {
  clear: both;
}
.redux-main .redux-typography-container .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.redux-main .redux-typography-container .input_wrapper input,
.redux-main .redux-typography-container .color-picker-container input {
  font-size: 12px;
}
.redux-main .redux-typography-container input.wp-picker-default,
.redux-main .redux-typography-container .redux-typography-color {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  height: 24px;
  padding: 0px 14px !important;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 4px !important;
  font-size: 12px !important;
}
.redux-main .redux-typography-container .select_wrapper {
  display: block;
  position: relative;
  float: left;
  clear: none;
  margin: 0 10px 0 0;
  width: 48% !important;
  min-width: 210px !important;
  max-width: 324px !important;
  height: 57px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.redux-main .redux-typography-container .select_wrapper .redux-typography {
  font-size: 14px !important;
  display: block;
  float: left;
  height: 28px !important;
  line-height: 50px !important;
  padding: 0px !important;
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
.redux-main .redux-typography-container .select_wrapper:nth-child(even) {
  margin-right: 0 !important;
}
.redux-main .redux-typography-container .select_wrapper:nth-child(odd) {
  margin-right: 10px !important;
}
.redux-main .redux-typography-container .wp-picker-container {
  float: left;
  clear: left;
  margin-bottom: 12px;
  background: #ffffff;
  border: 1px solid #dfdfdf;
  padding: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*  .wp-color-result {
             margin-right:3px;
            }*/
}
.redux-main .redux-typography-container .input_wrapper {
  display: block;
  position: relative;
  margin: 0 4px 0 5px;
  padding: 0;
  width: 23%;
  max-width: 23%;
  min-width: 70px;
  float: left;
  clear: none;
  height: 57px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
}
.redux-main .redux-typography-container .input_wrapper input.mini {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 78%;
  text-align: center;
  margin: 0;
  height: 28px;
  position: absolute;
  top: 3px;
  padding: 0 2px 0 5px;
  border: 1px solid #aaaaaa;
  color: #444444;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.redux-main .redux-typography-container .picker-wrapper {
  display: block;
  position: relative;
  margin: 0 4px 0 5px;
  margin: 0;
  padding: 0;
  width: 23%;
  width: 100%;
  max-width: 23%;
  min-width: 70px;
  min-width: 100%;
  float: left;
  clear: none;
  height: 57px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: baseline;
  z-index: 0;
}
.redux-main .redux-typography-container .input_wrapper.font-size {
  margin-left: 0px;
}
.redux-main .redux-typography-container .input-append {
  position: relative !important;
  display: block;
  float: none;
  margin: 0 auto;
  padding: 0;
  color: #808080;
  width: 99%;
  max-width: 99%;
}
.redux-main .redux-typography-container .input-append .add-on {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  border: 0 none;
  border: 1px solid #aaaaaa;
  position: absolute;
  top: 3px;
  right: 1px;
  height: 28px;
  padding: 0;
  width: 25%;
  z-index: 1;
  float: none;
  line-height: 24px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-clip: padding-box;
  background: #cccccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(0.6, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, #cccccc 0%, #eeeeee 60%);
  background-image: -moz-linear-gradient(center bottom, #cccccc 0%, #eeeeee 60%);
  background-image: linear-gradient(top, #cccccc 0%, #eeeeee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0);
}
.redux-main .redux-typography-container label {
  display: block;
  position: relative;
  font-size: 12px !important;
  text-align: left;
  color: #999999;
  margin: 4px 0 2px 0 !important;
  cursor: default;
}
.redux-main .redux-typography-container .typography-preview {
  display: block;
  width: 100%;
  border: 1px dotted lightgray;
  max-width: 850px;
  padding: 10px;
  font-size: 10pt;
  height: auto;
  margin: 5px 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.redux-main .redux-typography-container .typography-color {
  border: 0 none;
  margin: 0;
}
.redux-main .redux-typography-container ::-webkit-input-placeholder {
  line-height: 19px;
}
@media screen and (max-width: 540px) {
  .redux-main .redux-typography-container {
    max-width: 230px;
    margin: 0 auto;
  }
  .redux-main .redux-typography-container .select_wrapper {
    max-width: 210px;
    min-width: 210px;
    width: 210px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .redux-main .redux-typography-container .input_wrapper {
    max-width: 101px;
    min-width: 101px;
    width: 101px;
    margin-left: 0 !important;
    margin-right: 5px !important;
  }
  .redux-main .wp-picker-container .wp-picker-input-wrap {
    margin-top: 7px;
  }
}
@media screen and (max-width: 360px) {
  .redux-main .redux-typography-container .iris-picker .iris-square {
    margin-right: 3%;
  }
}
