.updated.jp-banner {
    position: relative;
    padding: 0;
}

.updated .redux-banner-header {
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 0;
}

.updated .redux-banner-button-container {
    padding: 2rem 0 0;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
}

@media (min-width: 600px) {
    .updated .redux-banner-button-container {
        display: flex;
    }
}

.updated .redux-banner-tos-blurb {
    display: block;
    padding: 0.375rem 0;
    line-height: 1.5;
    font-size: 0.6875rem;
    color: #414141;
}

@media (min-width: 600px) {
    .updated .redux-banner-tos-blurb {
        margin-left: 1.125rem;
    }
}

.updated .redux-banner-tos-blurb a {
    color: inherit;
}

.redux-connection-banner-dismiss {
    text-decoration: none;
}

.redux-banner-description {
    font-size: 0.875rem;
}

.redux-banner-description-container {
    padding: 1rem;
}

.redux-banner-svg-dismiss {
    position: absolute;
    right: 0;
    top: 0;
    fill: #a2a2a2;
    padding: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.redux-banner-full-step-header {
    max-width: 700px;
    margin: 0 auto 40px auto;
    line-height: 1.5;
}

@media (max-width: 530px) {
    .redux-banner-full-step-header {
        margin-bottom: 1.5rem;
    }
}

.redux-banner-full-step-header h2 {
    margin: 1.5rem 10% 0;
    font-size: 1.375rem;
    font-weight: bold;
    color: #000;
}

@media (max-width: 530px) {
    .redux-banner-full-step-header h2 {
        margin-top: 1rem;
    }
}

.redux-banner-full-step-header h3 {
    color: #747474;
    font-size: 1rem;
    font-weight: normal;
    margin: 0.625rem 0 1.5rem;
}

.redux-banner-full-step-header.bottom {
    margin-top: 5rem;
}

.redux-tos-blurb {
    font-size: 0.6875rem;
    margin-left: 1.125rem;
}

.redux-dismiss {
    cursor: pointer;
}

.redux-banner-full-dismiss-paragraph {
    font-size: 0.6875rem;
}

.redux-tos-blurb a,
.redux-banner-full-dismiss-paragraph a {
    cursor: pointer;
    color: inherit;
    text-decoration: underline;
}

.redux-banner-full-row {
    display: flex;
    justify-content: space-around;
    justify-content: space-evenly;
    text-align: left;
    align-items: baseline;
    margin: 0 auto;
    max-width: 1000px;
}

.redux-banner-full-slide {
    max-width: 35%;
    margin: 3rem 0;
}

@media (max-width: 782px) {
    .redux-banner-full-slide {
        margin: 1.875rem 0;
    }
}

.redux-banner-full-slide p {
    font-size: 0.875rem;
}

.redux-banner-full-slide .illustration {
    padding: 0.75rem;
}

@media (min-width: 600px) {
    .redux-banner-full-slide .illustration {
        margin-bottom: 2.625rem;
    }
}

.redux-banner-full-step-support {
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.25;
}

.redux-banner-full-step-support h2 {
    margin: 1rem 0 0;
    font-size: 1.375rem;
    font-weight: normal;
    color: #000;
}

.redux-banner-full-step-support h3 {
    color: #747474;
    font-size: 1rem;
    font-weight: normal;
    margin: 0.625rem 0 1.5rem;
}

.redux-banner-button-container-loading {
    font-size: 14px;
    animation: jetpack-loading-fade 1.6s ease-in-out infinite;
}

.redux-banner-button-container .redux-spinner {
    width: 100%;
}

@media screen and (max-width: 480px) {
    .redux-banner-full-row {
        display: block;
    }
    .redux-banner-full-slide {
        margin: 2em 0;
        max-width: 100%;
    }
}

.updated.redux-banner-container {
    border-left: none;
    padding: 0;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
}

@media screen and (max-width: 782px) {
    .updated.redux-banner-container {
        padding: 0 !important;
    }
}

.updated.redux-banner-container .dops-button {
    padding: 7px 14px 9px;
}

.updated .notice-dismiss {
    z-index: 1;
    text-decoration: none;
}

.redux-banner-container-top-text + .redux-banner-inner-container .notice-dismiss::before {
    color: #000000;
}

.redux-banner-container-top-text {
    padding: 15px 35px 25px 15px;
    background-color: #CBC3F5;
    color: #000000;
    display: flex;
    align-items: baseline;
}

.redux-banner-container-top-text svg {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    position: relative;
    top: 7px;
}

@media (max-width: 530px) {
    .redux-banner-container-top-text svg {
        flex: 1;
    }
}

.redux-banner-container-top-text svg path {
    fill: #000000;
}

.redux-banner-container-top-text span {
    display: inline-block;
}

@media (max-width: 530px) {
    .redux-banner-container-top-text span {
        flex: 9;
    }
}

.redux-banner-container {
    display: block;
    position: relative;
    box-sizing: border-box;
    background-color: #24b0a6;
}

.redux-banner-inner-container > a:first-child {
    z-index: 1;
}

.redux-banner-inner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    background: #fff;
}

.redux-banner-content-container {
    //width: 1250px;
    position: relative;
    padding: 2rem;
    z-index: 0;
}

.redux-banner-content-container p {
    color: #6f6f6f;
    font-size: 0.875rem;
}

.redux-banner-content-container h2 {
    margin-top: 0;
    line-height: 1.6;
    display: block;
    margin-bottom: 1.5rem;
}
@media (min-width: 1300px) {
    .redux-banner-hide-phone-and-smaller {
        width: 320px !important;
    }
}
.redux-banner-hide-phone-and-smaller {
    max-width: 400px;
}

.redux-banner-content-logo {
    width: 150px;
    margin-bottom: 20px !important;
}

@media (max-width: 530px) {
    .redux-banner-hide-phone-and-smaller {
        display: none !important;
    }
    .redux-banner-content-logo {
        margin-left: 0 !important;
        margin-bottom: 40px !important;
    }
}


@media (max-width: 530px) {
    .redux-banner-hide-phone-and-smaller {
        display: none !important;
    }
}

.redux-banner-content-icon {
    margin: 0 1.5rem;
    margin-right: 0;
    display: flex;
    flex-direction: column;
}

.redux-banner-button-container .dops-button.is-primary {
    background: #24b0a6;
    border-color: #00a523;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex-shrink: 0;
}

.redux-illo img {
    display: block;
    margin: 0 auto;
}

.redux-illo .redux-logo {
    margin-bottom: 2.25rem;
}

@media (max-width: 530px) {
    .redux-illo .redux-logo {
        margin-left: 0;
    }
}

@media (max-width: 782px) {
    .redux-illo {
        width: 100%;
        margin: 0.5rem 0;
        display: block;
    }
}

@media (min-width: 900px) {
    .redux-banner-slide-text {
        padding-left: 2.8125rem;
    }
}

.redux-banner-slide {
    display: none;
}

.redux-banner-slide.redux-slide-is-active {
    display: flex;
    align-items: flex-start;
}

@media (max-width: 782px) {
    .redux-banner-slide.redux-slide-is-active {
        display: block;
    }
}

.redux-banner-slide ul {
    list-style: disc;
    padding: 0 0 0 0.9375rem;
}

.redux-banner-slide ul li {
    color: #6f6f6f;
    font-size: 0.75rem;
}

.redux-banner-button-container .dops-button {
    margin: 0.3125rem 0;
}

.redux-banner-button-container .dops-button.is-primary {
    cursor: pointer;
    display: inline-block;
    margin: 0;
    outline: 0;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    text-decoration: none;
    vertical-align: top;
    box-sizing: border-box;
    font-size: 13px;
    border-radius: 3px;
    padding: 7px 14px 9px;
    -webkit-appearance: none;
    background: #007cba;
    border-color: #007cba;
    color: #fff;
}

.redux-banner-button-container .dops-button.is-primary:hover,
.redux-banner-button-container .dops-button.is-primary:focus {
    background: #0071a1;
    border: 1px solid #0071a1;
}

.redux-banner-button-container .dops-button.is-primary:focus {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #0071a1;
}

.redux-disconnected .redux-banner-full-container {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 1.25rem;
    left: 0;
    z-index: 999;
    background: #f1f1f1;
    text-align: center;
}

@media (max-width: 530px) {
    .redux-disconnected .redux-banner-full-container {
        top: 42px;
    }
}

@media (min-width: 782px) {
    .redux-disconnected .redux-banner-full-container {
        left: -20px;
    }
}

.redux-disconnected .redux-banner-full-container .redux-banner-full-container-card {
    padding: 4rem 4rem 6rem;
    background: #fff;
    margin: 1em;
}

@media (max-width: 530px) {
    .redux-disconnected .redux-banner-full-container .redux-banner-full-container-card {
        padding: 2rem 2rem;
    }
}

.redux-disconnected .redux-banner-full-container .redux-banner-full-container-card img.redux-logo {
    width: 160px;
}

.redux-disconnected .redux-banner-full-container .redux-banner-full-container-card img.support-characters {
    margin-top: 1.5rem;
    width: 50%;
}

.redux-disconnected .redux-banner-full-container h4 {
    line-height: 1.25;
    font-size: 1.375rem;
    font-weight: normal;
    margin: 1em 0;
}

.redux-disconnected.toplevel_page_jetpack .redux-banner-full-container {
    position: relative;
    bottom: 0;
    box-shadow: 0 0 0 1px #ccd0d4, 0 1px 1px 1px rgba(0, 0, 0, 0.04);
    display: none;
}

.redux-disconnected.toplevel_page_jetpack .redux-banner-full-container .redux-banner-full-container-card {
    margin: 0;
}

@media (min-width: 782px) {
    .redux-disconnected.toplevel_page_jetpack .redux-banner-full-container {
        left: 0;
    }
}

@media (max-width: 782px) {
    .redux-disconnected.toplevel_page_jetpack .redux-banner-full-container {
        top: 32px;
    }
}

@media (max-width: 530px) {
    .redux-disconnected.toplevel_page_jetpack .redux-banner-full-container {
        top: 0px;
    }
}

.redux-disconnected.toplevel_page_jetpack .jp-jetpack-connect__container .redux-banner-full-container {
    display: block;
}

@media (max-width: 530px) {
    .redux-disconnected.toplevel_page_jetpack .jp-jetpack-connect__container .redux-banner-full-container .redux-banner-full-step-header h2 {
        margin: 0;
    }
}

img.redux-banner-logo {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.redux-connection-banner-action {
    &.disabled {
        color: currentColor;
        cursor: not-allowed;
        opacity: 0.5;
        text-decoration: none;
        pointer-events: none;
    }
}
