.clip-path--rhombus img {
	clip-path: polygon(15% 6%, 80% 29%, 84% 93%, 23% 69%);
}

.clip-path--diamond img {
	clip-path: polygon(5% 29%, 60% 2%, 91% 64%, 36% 89%);
}

.clip-path--rhombus-alt img {
	clip-path: polygon(14% 9%, 85% 24%, 91% 89%, 19% 76%);
}