
/* Use "is-style-" prefix to support adding this style to the core/list block */
.is-style-inline-list {
    @apply ext-pl-0 !important;
}

.is-style-inline-list li {
    /* no suggestion */
    @apply ext-list-none tablet:ext-inline tablet:ext-mr-base !important;
}

.is-style-inline-list li:first-child {
    /* no suggestion */
    @apply tablet:ext-ml-0 !important;
}

.is-style-inline-list li:last-child {
    /* no suggestion */
    @apply tablet:ext-mr-0 !important;
}
