.redux-templates-challenge {
  display: block;
  position: fixed;
  right: 1em;
  bottom: 55px;
  max-width: 277px;
  z-index: 9999; }
  .redux-templates-challenge p {
    font-size: 14px;
    line-height: 1.4;
    margin-top: 0;
    color: #23282c; }
  .redux-templates-challenge b {
    font-weight: 500; }
  .redux-templates-challenge.challenge-start {
    display: initial; }

span.wpforms-challenge-dot {
  display: inline-block;
  width: 16px;
  height: 16px !important;
  padding: 0 !important;
  border: 0 !important;
  border-radius: 50%;
  background-color: #df7739;
  box-shadow: 0 0 0 4px rgba(223, 119, 57, 0.15); }

.wpforms-challenge-tooltips {
  display: none; }

@media all and (max-height: 900px) {
  #challenge-contact-popup {
    margin: 50px 0 20px; } }
.challenge-tooltip.tooltipster-sidetip {
  z-index: 100100 !important; }

.challenge-tooltip.tooltipster-sidetip.tooltipster-top .tooltipster-box {
  margin-bottom: 18px; }

.challenge-tooltip.tooltipster-sidetip.tooltipster-top .tooltipster-arrow {
  bottom: 8px; }

.challenge-tooltip.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
  top: 0; }

.challenge-tooltip.tooltipster-sidetip.tooltipster-right .tooltipster-box {
  margin-right: 18px; }

.challenge-tooltip.tooltipster-sidetip.tooltipster-right .tooltipster-arrow {
  left: 8px; }

.challenge-tooltip.tooltipster-sidetip .tooltipster-box {
  background: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 10px 35px 0 rgba(0, 0, 0, 0.25); }

.challenge-tooltip.tooltipster-sidetip .tooltipster-box .tooltipster-content {
  color: #444;
  padding: 16px 20px 18px; }

.challenge-tooltip.tooltipster-sidetip .tooltipster-box .tooltipster-content h3 {
  font-size: 15px;
  margin: 0; }

.challenge-tooltip.tooltipster-sidetip .tooltipster-box .tooltipster-content p {
  margin: 10px 0 0; }

.challenge-tooltip.tooltipster-sidetip .tooltipster-box .challenge-done-btn {
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  box-shadow: none;
  font-size: 13px;
  font-weight: 600;
  padding: 7px 18px;
  border: 1px solid #bf5e31;
  background-color: #24B0A6;
  color: #fff;
  display: block;
  margin: 15px auto 0; }

.challenge-tooltip.tooltipster-sidetip .tooltipster-box .challenge-done-btn:hover {
  border: 1px solid #19837C;
  background-color: #19837C; }

.challenge-tooltip.tooltipster-sidetip .tooltipster-arrow-border {
  border: none; }

.challenge-tooltip.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
  border-bottom-color: #fff; }

.challenge-tooltip.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
  border-right-color: #fff; }

.challenge-tooltip.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
  border-top-color: #fff; }

.challenge-tooltip.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
  border-left-color: #fff; }

.block-editor-page .edit-post-layout .components-notice-list > div {
  padding-left: 50px; }

.block-editor-page span.wpforms-challenge-dot-step5 {
  margin: 22px 18px;
  z-index: 9999; }

.block-editor-page .wpforms-challenge-tooltip.wpforms-challenge-tooltip-step5 {
  max-width: 233px;
  z-index: 99980 !important; }

.challenge-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600000; }

.challenge-tooltip-holder {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600000; }
  .challenge-tooltip-holder .tooltipster-box {
    position: absolute;
    box-shadow: 0 -10px 35px 0 rgba(0, 0, 0, 0.25);
    z-index: 10000;
    background: #fff;
    padding: 15px 20px; }

.challenge-dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #df7739;
  box-shadow: 0 0 0 4px rgba(223, 119, 57, 0.15);
  border-radius: 50%;
  border: 0;
  padding: 0; }

.tooltipster-sidetip .tooltipster-arrow {
  position: absolute;
  width: 20px;
  height: 10px;
  z-index: 10000; }

.tooltipster-sidetip .tooltipster-arrow-uncropped {
  position: relative; }

.tooltipster-sidetip .tooltipster-arrow-border {
  left: 0;
  top: 0;
  border: none;
  width: 0;
  height: 0;
  position: absolute; }

.challenge-tooltip.tooltipster-sidetip .tooltipster-arrow-background {
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  position: absolute;
  border: 10px solid transparent; }

.challenge-tooltip.tooltipster-sidetip.tooltipster-top {
  border-top-color: #fff; }
.challenge-tooltip.tooltipster-sidetip.tooltipster-bottom {
  border-bottom-color: #fff; }

.block-timer .caret-icon .fa {
  -webkit-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  line-height: 23px; }

/*# sourceMappingURL=style.css.map */
