$primary: #3858e9;
$secondary: #3858e9;
$background: #1e1e1e;
$text: #eee;
$menu_hover: #7b90ff;
$menu_hover_text: #eee;
$header_background: #1e1e1e;
$header_text: #eee;
$subsection_background: #32373c;
$subsection_background_hover: #32373c;
$subsection_text: rgba(240, 245, 250, 0.7);
$active_menu_text: #fff;
$active_submenu_text: #fff;
$text_shadow: 1;

@import "../_admin.scss";
