$primary: #096484;
$secondary: #4796b3;
$background: #52accc;
$text: #fff;
$menu_hover: #fff;
$menu_hover_text: #fff;
$header_background: #52accc;
$header_text: #fff;
$subsection_background: #4796b3;
$subsection_background_hover: #4796b3;
$subsection_text: #e2ecf1;
$active_menu_text: #fff;
$active_submenu_text: #fff;
$text_shadow: 1;

@import "../_admin.scss";
