@import "../../_variables";

.redux-templates-collection-modal-sidebar {
    min-width: 270px;
    background: #fff;
    color: $primaryColor; /* $secondaryColor;*/

    border-right: 1px solid #e2e4e7;
    overflow-y: auto;

    .redux-templates-template-filter-button-group {
        margin: 10px 0;
        border-bottom: 1px solid #e2e4e7;
        width: 100%;
        display: inline-flex;

        button {
            font-weight: 500;
            flex-grow: 1;
            min-width: 30%;
            line-height: 20px;
            padding: 8px 0 10px 15px;
            align-items: center;
            text-align: left;
            background: none;
            position: relative;
            margin-bottom: -1px;
            border-width: 0;
            z-index: 1;
            cursor: pointer;
            outline: none;
            border-color: transparent;
            box-shadow: none;
            border-bottom: unset;

            &::after {
                content: attr(data-label);
                display: block;
                height: 0;
                overflow: hidden;
                speak: none;
                visibility: hidden;
            }
            &:hover {
                color: #007cba;
                color: var(--wp-admin-theme-color);
            }

            &:focus {
                box-shadow: inset 0 0 0 1.5px #007cba;
                box-shadow: inset 0 0 0 1.5px var(--wp-admin-theme-color);
            }

            &.active {
                box-shadow: inset 0 0 0 1.5px transparent, inset 0 -4px 0 0 #007cba;
                box-shadow: inset 0 0 0 1.5px transparent, inset 0 -4px 0 0 var(--wp-admin-theme-color);

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 1px;
                    right: 0;
                    left: 0;
                    border-bottom: 4px solid transparent;
                }

                &:focus {
                    box-shadow: inset 0 0 0 1.5px #007cba, inset 0 -4px 0 0 #007cba;
                    box-shadow: inset 0 0 0 1.5px var(--wp-admin-theme-color), inset 0 -4px 0 0 var(--wp-admin-theme-color);
                }
            }

            &.disabled {
                opacity: 0.4;
            }

            img {
                display: inline-block;
                width: auto;
                height: 14px;
                margin-right: 4px;
            }
            &:last-child {
                img {
                    margin-bottom: -2px;
                }
            }
        }


    }

    .redux-templates-modal-sidebar-content {
        padding: 0 15px 15px;

        h3 {
            margin: 5px 12px 10px 0;
            color: #757575;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 500;

            &::after {
                //content: "";
                //width: 100%;
                //height: 1px;
                //margin-top: -3px;
                //background-color: $secondaryColor;
                //margin-left: 20px;
                //display: block;
            }
        }

        ul {
            list-style: unset;
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
            /* Non-prefixed version, currently
                                             supported by Chrome, Edge, Opera and Firefox */

            margin: 0 15px 15px 15px;
            padding: 0;

            li {
                display: block;
                font-size: 13px;
                cursor: pointer;
                height: auto;
                -webkit-transition: height 0.5s linear;
                -moz-transition: height 0.5s linear;
                -ms-transition: height 0.5s linear;
                -o-transition: height 0.5s linear;
                transition: height 0.5s linear;
                .redux-icon-wrapper {
                    margin-left: 10px;
                }

                &:not(.disabled):hover {
                    color: #007cba;
                    color: var(--wp-admin-theme-color);
                }

                &.active {
                    color: #007cba;
                    color: var(--wp-admin-theme-color);
                    text-shadow: 0 0 0.5px #007cba;
                    text-shadow: 0 0 0.5px var(--wp-admin-theme-color);
                }

                &.disabled {
                    display: none;
                    height: 0px;
                    -webkit-transition: height 0.5s linear;
                    -moz-transition: height 0.5s linear;
                    -ms-transition: height 0.5s linear;
                    -o-transition: height 0.5s linear;
                    transition: height 0.5s linear;
                }

                span {
                    float: right;
                }

                &.missing-dependency {
                    i {
                        &.fa-exclamation-triangle {
                            color: $missingColor;
                        }
                    }
                    &:hover {
                        i.fa-exclamation-triangle {
                            color: $missingColorHover;
                        }
                    }

                    &.active {
                        i.fa-exclamation-triangle {
                            color: $missingColorHover;
                        }
                    }
                }
            }
        }
    }

    ul.redux-templates-sidebar-dependencies li {
        .components-base-control {
            display: inline-block;
            margin-bottom: 0 !important;

            .components-base-control__field {
                margin-bottom: 3px;
            }

            span {
                float: none;
            }
        }

    }

    .redux-templates-select-actions {
        //text-align: center;
        margin: 0 0 10px 15px;
        display: inline-flex;

        i.challenge-dot {
            margin-left: 10px;
        }
        &.disabled {
            a {
                pointer-events: none;
                cursor: default;
                text-decoration: none;
                opacity: 0.6;
            }
        }
    }

    .redux-templates-sidebar-dependencies li a {
        display: inline-block;
        //color: #9b9b9b;
        margin-left: 10px;
    }
    #redux-templates-filter-dependencies {
        h3 {
            margin-top: 0;
            padding-top: 3px;
        }
    }
}
