$primary: #dd823b; //
$secondary: #ccaf0b; //
$background: #cf4944; //
$text: #fff;
$menu_hover: #f7e3d3;
$menu_hover_text: #fff; //
$header_background: #cf4944; //
$header_text: #fff;
$subsection_background: #be3631; //
$subsection_background_hover: #be3631; //
$subsection_text: #f1c8c7; //
$active_menu_text: #f7e3d3;
$active_submenu_text: #f7e3d3;
$text_shadow: 1;

@import "../_admin.scss";
