$primary: #e14d43;
$secondary: #69a8bb;
$background: #363b3f;
$text: #fff;
$menu_hover: #e14d43;
$menu_hover_text: #fff;
$header_background: #363b3f;
$header_text: #fff;
$subsection_background: #26292c;
$subsection_background_hover: #26292c;
$active_menu_text: #fff;
$subsection_text: #c3c4c5;
$active_submenu_text: #fff;
$text_shadow: 1;

@import "../_admin.scss";
