.redux-main .redux-container-spacing select,
.redux-main .redux-container-spacing .select_wrapper {
  width: 80px !important;
  float: left;
}
.redux-main .redux-container-spacing .field-spacing-input {
  margin-right: 10px;
  margin-bottom: 7px;
}
.redux-main .redux-container-spacing .dovy {
  margin: 10px;
}
