.redux-container-spacing {
    .select_wrapper {
        float: left;
        width: inherit;
        select {
            width: 80px;
            float: left;
        }
    }
    .field-spacing-input {
        margin-right: 10px;
        margin-bottom: 7px;
    }
    .dovy {
        margin: 10px;
    }
}
