/* Adding CSS classes should be done with consideration and rarely */
@tailwind base;
@tailwind components;
@tailwind utilities;

.extendify-assist {
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: transparent;
    --tw-ring-color: var(--ext-design-main, #2c39bd);
}

.extendify-assist *,
.extendify-assist *:after,
.extendify-assist *:before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
.hide-checkmark::before {
    content: none;
}

.extendify-assist-upload-logo .components-responsive-wrapper > span {
    display: block;
    padding-bottom: 192px !important;
}
body[class*="_page_extendify-assist"] {
    @apply bg-white;
}
body[class*="_page_extendify-assist"] #wpcontent {
    @apply p-0;
}
.ext-force-overflow-auto {
    @apply overflow-auto;
}
.extendify-assist *:not(.dashicons) {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif !important;
}
.extendify-assist .input-focus {
    @apply outline-none text-sm ring-design-main focus:shadow-none focus:ring-wp;
}
