#wpbody-content > *:not(.extendify-outer-container) {
    display: none;
}

.extendify-outer-container {
    background-color: #ffffff;
    padding: 60px 60px 0 60px;
    margin: 40px 30px 0 20px;
}

.extendify-outer-container .welcome-container {
    /* Section backgrounds */
    --background: transparent;
    --subtle-background: #def;
    /* Main text color */
    --text: #000;
    --text-light: #fff;
    /* Accent colors: used in header, on special classes. */
    --accent-1: #3858e9;
    /* Accent background, link color */
    --accent-2: #3858e9;
    /* Header background */
    /* Navigation colors. */
    --nav-background: #fff;
    --nav-border: transparent;
    --nav-color: var(--text);
    --nav-current: var(--accent-1);
    --gap: 2rem;
    line-height: 1.4;
    color: var(--text);
    max-width: 1000px;
    margin: 24px auto;
    clear: both;
    top: -40px;
    position: relative;
}

.extendify-outer-container .welcome-container h1 {
    padding: 0;
    color: inherit;
}

.extendify-outer-container .welcome-container h1,
.extendify-outer-container .welcome-container h2,
.extendify-outer-container .welcome-container h3.is-larger-heading {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: 2em;
    line-height: 1.2;
    font-weight: 700;
}

.extendify-outer-container .welcome-container h3,
.extendify-outer-container .welcome-container h1.is-smaller-heading,
.extendify-outer-container .welcome-container h2.is-smaller-heading {
    margin-top: 0;
    font-size: 1.6em;
    line-height: 1.3;
    font-weight: 400;
}

.extendify-outer-container .welcome-container p {
    font-size: inherit;
    line-height: inherit;
}

.extendify-outer-container .welcome-container p.is-subheading {
    margin-top: 0;
    font-size: 1.8em;
}

.extendify-outer-container .welcome-container img {
    margin: 0;
    max-width: 100%;
    vertical-align: middle;
}

.extendify-outer-container .welcome-container .welcome-image {
    margin: 0;
}

.extendify-outer-container .welcome-container .welcome-image img {
    max-width: 100%;
    width: 100%;
    height: auto;
}

.extendify-outer-container .welcome-container hr {
    margin: 0;
    height: var(--gap);
    border: none;
}

.extendify-outer-container .welcome-container hr.is-small {
    height: calc(var(--gap) / 4);
}

.extendify-outer-container .welcome-container hr.is-large {
    height: calc(var(--gap) * 2);
    margin: calc(var(--gap) / 2) auto;
}

.extendify-outer-container .welcome-container .welcome-header {
    position: relative;
    margin-bottom: var(--gap);
    padding-top: 0;
    background-color: var(--accent-2);
    color: var(--text-light);
    background-image: url("https://ps.w.org/extendify/assets/banner-772x250.png");
}

.extendify-outer-container .welcome-container .components-button {
    border: 0;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    box-shadow: none !important;
    color: #fff;
    text-decoration: none;
    padding: 0.75em 1.25em;
    display: block;
    margin: 0 auto;
    max-width: 200px;
    text-align: center;
    font-size: calc(13px + 0.1vw);
    font-weight: 600;
}

.extendify-outer-container .welcome-container .alignleft {
    float: left;
}

.extendify-outer-container .welcome-container .alignright {
    float: right;
}

.extendify-outer-container .welcome-container .aligncenter {
    text-align: center;
}

.extendify-outer-container .welcome-container .is-vertically-aligned-top {
    align-self: start;
}

.extendify-outer-container .welcome-container .is-vertically-aligned-center {
    align-self: center;
}

.extendify-outer-container .welcome-container .is-vertically-aligned-bottom {
    align-self: end;
}

.extendify-outer-container .welcome-container .has-accent-background-color {
    background-color: var(--accent-1);
    color: var(--text-light);
}

.extendify-outer-container .welcome-container .has-accent-background-color a {
    color: var(--text-light);
}

.extendify-outer-container .welcome-container .has-transparent-background-color {
    background-color: transparent;
}

.extendify-outer-container .welcome-container .has-accent-color {
    color: var(--accent-1);
}

.extendify-outer-container .welcome-container .has-border {
    border: 3px solid currentColor;
}

.extendify-outer-container .welcome-container .has-subtle-background-color {
    background-color: var(--subtle-background);
}

.extendify-outer-container .welcome-container .has-background-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.extendify-outer-container .welcome-container .welcome-section {
    background: var(--background);
    clear: both;
    margin: 0 0 var(--gap);
    font-size: 1.2em;
}

.extendify-outer-container .welcome-container .welcome-section .column:not(.is-edge-to-edge) {
    padding: var(--gap);
}

.extendify-outer-container .welcome-container .welcome-section + .welcome-section .is-section-header {
    padding-bottom: var(--gap);
}

.extendify-outer-container .welcome-container .welcome-section .column[class*=background-color], .extendify-outer-container .welcome-container .welcome-section:where([class*="background-color"]) .column,
.extendify-outer-container .welcome-container .welcome-section .column.has-border {
    padding-top: var(--gap);
    padding-bottom: var(--gap);
}

.extendify-outer-container .welcome-container .welcome-section .column p:first-of-type {
    margin-top: 0;
}

.extendify-outer-container .welcome-container .welcome-section .column p:last-of-type {
    margin-bottom: 0;
}

.extendify-outer-container .welcome-container .welcome-section .has-text-columns {
    columns: 2;
    column-gap: calc(var(--gap) * 2);
}

.extendify-outer-container .welcome-container .welcome-section .is-section-header {
    margin-bottom: 0;
    padding: var(--gap) var(--gap) 0;
}

.extendify-outer-container .welcome-container .welcome-section .is-section-header p:last-child {
    margin-bottom: 0;
}

.extendify-outer-container .welcome-container .welcome-section .is-section-header:first-child:last-child {
    padding: 0;
}

.extendify-outer-container .welcome-container .welcome-section.has-2-columns, .extendify-outer-container .welcome-container .welcome-section.has-overlap-style {
    display: grid;
}

.extendify-outer-container .welcome-container .welcome-section.has-gutters {
    gap: var(--gap);
    margin-bottom: calc(var(--gap) * 2);
}

.extendify-outer-container .welcome-container .welcome-section.has-2-columns {
    grid-template-columns: 1fr 1fr;
}

.extendify-outer-container .welcome-container .welcome-section.has-2-columns.is-wider-right {
    grid-template-columns: 2fr 3fr;
}

.extendify-outer-container .welcome-container .welcome-section.has-2-columns.is-wider-left {
    grid-template-columns: 3fr 2fr;
}

.extendify-outer-container .welcome-container .welcome-section.has-2-columns .is-section-header {
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
}

.extendify-outer-container .welcome-container .welcome-section.has-2-columns .column:nth-of-type(2n+1) {
    grid-column-start: 1;
}

.extendify-outer-container .welcome-container .welcome-section.has-2-columns .column:nth-of-type(2n) {
    grid-column-start: 2;
}

.extendify-outer-container .welcome-container .welcome-section.has-2-columns .is-section-header ~ .column, .extendify-outer-container .welcome-container .welcome-section.has-overlap-style .is-section-header ~ .column {
    grid-row-start: 2;
}

.extendify-outer-container .welcome-container .welcome-section.has-overlap-style {
    grid-template-columns: repeat(7, 1fr);
}

.extendify-outer-container .welcome-container .welcome-section.has-overlap-style .column {
    grid-row-start: 1;
}

.extendify-outer-container .welcome-container .welcome-section.has-overlap-style .column:nth-of-type(2n+1) {
    grid-column-start: 2;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
}

.extendify-outer-container .welcome-container .welcome-section.has-overlap-style .column:nth-of-type(2n) {
    grid-column-start: 4;
    -ms-grid-column-span: 3;
    grid-column-end: span 3;
}

.extendify-outer-container .welcome-container .welcome-section.has-overlap-style .column.is-top-layer {
    z-index: 1;
}

.extendify-outer-container .welcome-container .welcome-section a {
    color: var(--accent-1);
    text-decoration: underline;
}

.extendify-outer-container .welcome-container .welcome-section a:hover, .extendify-outer-container .welcome-container .welcome-section a:active, .extendify-outer-container .welcome-container .welcome-section a:focus {
    color: var(--accent-1);
    text-decoration: none;
}

/* Tab styles */
.extendify-outer-container .extendify-welcome-tabs {
    border: 1px black solid;
    margin: 40px 0;
    padding: 0;
    display: flex;
    margin: 0;
}

.extendify-outer-container .extendify-welcome-tabs li {
    margin: 0;
}

.extendify-outer-container .extendify-welcome-tabs li a {
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    border-bottom: 2px solid transparent;
}

.extendify-outer-container .extendify-welcome-tabs li.active a {
    border-bottom-color: #2271b1;
}

.extendify-outer-container .extendify-welcome-tabs li.cta-button {
    margin-left: auto;
}

.extendify-outer-container .extendify-welcome-tabs li.cta-button a {
    background: var(--ext-partner-theme-primary-bg, #2c39bd);
    color: var(--ext-partner-theme-primary-text, #ffffff);
    border-radius: 0.25rem;
    margin: 5px;
    padding: 10px 30px;
}

@media screen and (max-width: 782px) {
    .extendify-outer-container .welcome-section.has-2-columns.is-wider-right, .extendify-outer-container .welcome-section.has-2-columns.is-wider-left {
        display: block;
        margin-bottom: calc(var(--gap) / 2);
    }

    .extendify-outer-container .welcome-section .column:not(.is-edge-to-edge) {
        padding-top: var(--gap);
        padding-bottom: var(--gap);
    }

    .extendify-outer-container .welcome-section.has-2-columns.has-gutters.is-wider-right, .extendify-outer-container .welcome-section.has-2-columns.has-gutters.is-wider-left {
        margin-bottom: calc(var(--gap) * 2);
    }

    .extendify-outer-container .welcome-section.has-2-columns.has-gutters .column, .extendify-outer-container .welcome-section.has-2-columns.has-gutters .column {
        margin-bottom: var(--gap);
    }

    .extendify-outer-container .welcome-section.has-2-columns.has-gutters .column:last-child, .extendify-outer-container .welcome-section.has-2-columns.has-gutters .column:last-child {
        margin-bottom: 0;
    }

    .extendify-outer-container .welcome-section.has-overlap-style {
        grid-template-columns: 1fr;
    }

    .extendify-outer-container .welcome-section.has-overlap-style .column.column {
        grid-column-start: 1;
        -ms-grid-column-span: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        -ms-grid-row-span: 1;
        grid-row-end: 2;
    }
}

@media screen and (max-width: 600px) {
    .extendify-outer-container .welcome-section.has-2-columns {
        display: block;
        margin-bottom: var(--gap);
    }

    .extendify-outer-container .welcome-section.has-2-columns:not(.has-gutters) .column:nth-of-type(n) {
        padding-top: calc(var(--gap) / 2);
        padding-bottom: calc(var(--gap) / 2);
    }

    .extendify-outer-container .welcome-section.has-2-columns.has-gutters {
        margin-bottom: calc(var(--gap) * 2);
    }

    .extendify-outer-container .welcome-section.has-2-columns.has-gutters .column {
        margin-bottom: var(--gap);
    }

    .extendify-outer-container .welcome-section.has-2-columns.has-gutters .column:last-child {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 480px) {
    .extendify-outer-container .welcome-section.is-feature .column {
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .extendify-outer-container .welcome-container h1,
    .extendify-outer-container .welcome-container h2,
    .extendify-outer-container .welcome-container h3.is-larger-heading {
        font-size: 2em;
    }
}
