$primary: #a3b745;
$secondary: #d46f15;
$background: #523f6d;
$text: #fff;
$menu_hover: #a3b745;
$menu_hover_text: #fff;
$header_background: #523f6d;
$header_text: #fff;
$subsection_background: #413256;
$subsection_background_hover: #413256;
$subsection_text: #e2ecf1;
$active_menu_text: #fff;
$active_submenu_text: #fff;
$text_shadow: 1;

@import "../_admin.scss";
