.tablenav-pages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    span.displaying-num {
        margin-right: 20px;
    }
    #table-paging {
        margin-left: 10px;
        margin-right: 10px;
        span {
            line-height: 30px;
        }
    }
    span.tablenav-pages-navspan.button {
        cursor: pointer;
        margin: 0 2px;
        &.disabled {
            cursor: default;
        }
    }
}
