.redux-field-subheading {
    font-size: 14px;
    font-weight: 500;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    margin: 0 -20px;
    color: #23282d;
    background-color: #f7f7f7;
}
