.redux-templates-two-sections {
    position: absolute;
    width: 85.9375%;
    height: 89.537037%;
    max-width: 1650px;
    max-height: 967px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border-radius: 5px;
    overflow: hidden;
    -webkit-box-shadow: 0 45px 10px rgba(3, 8, 15, 0.2);
    box-shadow: 0 0 45px 10px rgba(3, 8, 15, 0.2);
}

.redux-templates-two-sections__grid {
    width: 100%;
    height: 100%;
    padding: 40px 22.5px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.redux-templates-two-sections__grid__column {
    width: 100%;
}

.redux-templates-two-sections__grid-clear {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
}

.redux-templates-two-sections__grid-clear-text {
    opacity: 0.9;
    color: #818a91;
    font-family: pn, "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    margin: 0 0 20px;
}

.redux-templates-two-sections__grid-clear-image-saved {
    width: 322px;
    height: 145px;
    margin-top: -21px;
    pointer-events: none;
}

.redux-templates-two-sections__grid-clear-image-global {
    width: 524px;
    height: 207px;
    margin-top: -28px;
    pointer-events: none;
}

.redux-templates-two-section {
    position: relative;
    margin: 0 17.5px 35px;
    cursor: pointer;
    outline: 3px solid transparent;
    -webkit-transition: outline 0.3s ease-in-out;
    transition: outline 0.3s ease-in-out;
    -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    border-radius: 3px;

    &:last-child {
        margin-bottom: 0;
    }

    .redux-templates-two-section-remove {
        position: absolute;
        z-index: 4;
        top: -7px;
        right: -7px;
        opacity: 0;
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
        -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
        width: 28px;
        height: 28px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 12px;
        border-radius: 28px;
        background-color: #fff;
        color: #03080f;
        -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
        cursor: pointer;
    }

    &:hover {
        .redux-templates-two-section-remove {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
            transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
            transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;

            &:hover {
                color: #f00;
            }
        }

        .redux-templates-two-section-item {
            &::before {
                border-color: #3dbfe8;
            }

            &::after {
                border-color: #ececec;
            }
        }
    }
}


.redux-templates-two-section {
    .preview-image-wrapper {
        transition: all 0.05s ease-in-out;
        width: 100%;
        min-height: 130px;
        max-height: 300px;
        overflow: hidden;

        img {
            animation-name: fadeIn;
            animation-fill-mode: both;
            animation-delay: 200ms;
            animation-duration: 200ms;
            width: 100%;
            height: auto;
        }
    }

    .saved-section-title {
        border-top: 1px solid #f2f4f7;
        background: rgba(255, 255, 255, 0.9);
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        color: #23282d;
        padding: 13px 15px;
        font-size: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.no-section {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.preview-image-wrapper {
    .block-editor-block-preview__container {
        transition: all 0.05s ease-in-out;
        background: #fff;
        margin: 0 auto;
        min-height: 130px;
    }
}

