$primary: #0073aa;
$secondary: #00a0d2;
$background: #23282d;
$text: #eee;
$menu_hover: #00b9eb;
$menu_hover_text: #eee;
$header_background: #23282d;
$header_text: #eee;
$subsection_background: #32373c;
$subsection_background_hover: #32373c;
$subsection_text: rgba(240, 245, 250, 0.7);
$active_menu_text: #fff;
$active_submenu_text: #fff;
$text_shadow: 1;

@import "../_admin.scss";
