$primary: #9ebaa0; //
$secondary: #aa9d88; //
$background: #738e96; //
$text: #fff; //
$menu_hover: #9ebaa0;
$menu_hover_text: #fff;
$header_background: #738e96; //
$header_text: #fff; //
$subsection_background: #627c83; //
$subsection_background_hover: #627c83; //
$subsection_text: #d5dde0; //
$active_menu_text: #fff;
$active_submenu_text: #fff;
$text_shadow: 1;

@import "../_admin.scss";
