$primary: #888;
$secondary: #d64e07;
$background: #e5e5e5;
$text: #333;
$menu_hover: #04a4cc;
$menu_hover_text: #fff;
$header_background: #e5e5e5;
$header_text: #333;
$subsection_background: #fff;
$subsection_background_hover: #fff;
$subsection_text: #686868;
$active_menu_text: #fff;
$active_submenu_text: #04a4cc;
$text_shadow: 0;

@import "../_admin.scss";
