.redux_field_search {
    position: absolute;
    width: 250px !important;
    right: 20px;
    padding: 4px 7px;
    top:6px;
}

.redux-has-sections {
    .redux_field_search {
        right: 10px;
    }
}
.redux-main.redux-search {
    .redux-section-field,
    .redux-info-field,
    .redux-notice-field,
    .redux-container-group,
    .redux-container-raw,
    .redux-section-desc,
    .redux-group-tab h3,
    .hr,
    .redux-field-info,
    tr {
        display: none;
    }

    #import_export_default_section_group,
    #dev_mode_default_section_group {
        display:none !important;
    }

    .redux-group-tab {
        margin-bottom: 0;

        .form-table-section-indented {
            margin-left: 0 !important;
            width: 100%;

            .redux-group-tab {
                .form-table-section tr:first-of-type th:first-of-type {
                  padding: inherit !important;
                }

                h3 {
                  margin-top: inherit !important;
                }
            }
        }
    }
}

.redux-metabox .redux-has-sections .redux_field_search {
    top:8px
}