.redux-container-spinner .spinner-wrpr {
	position: relative;
	display: block;
	height: 30px;
	overflow: hidden;
}
.redux-container-spinner .spinner-wrpr .spinner-input {
	position: relative !important;
	z-index: 1;
	width: 75px !important;
	height: 30px !important;
	background: #eee !important;
	border: 1px solid #bfbfbf !important;
	border-right: 0 !important;
	border-left: 0 !important;
	border-radius: 0 !important;
}
.redux-container-spinner .ui-spinner {
	position: static;
	display: inline;
}
.redux-container-spinner .ui-spinner-buttons {
	position: absolute;
	padding: 0;
}
.redux-container-spinner .ui-widget .ui-spinner-button {
	color: #fff;
	position: absolute;
	top: 0;
	padding: 0 0 30px;
	overflow: hidden;
	cursor: pointer;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f3f3f3));
	background: -webkit-linear-gradient(#fff, #f3f3f3);
	background: linear-gradient(#fff, #f3f3f3);
	background-color: #fff;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.redux-container-spinner .ui-spinner-button:hover,
.redux-container-spinner .ui-state-hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#fff));
	background: -webkit-linear-gradient(#f3f3f3, #fff);
	background: linear-gradient(#f3f3f3, #fff);
	background-color: #f3f3f3;
}
.redux-container-spinner .ui-corner-tr,
.redux-container-spinner .ui-spinner-button .ui-icon-triangle-1-n {
	border-radius: 0 3px 3px 0;
}
.redux-container-spinner .ui-corner-br,
.redux-container-spinner .ui-spinner-button .ui-icon-triangle-1-s {
	border-radius: 3px 0 0 3px;
}
.redux-container-spinner .ui-spinner-button .ui-icon {
	top: 0;
	display: block;
	width: 28px;
	height: 28px;
	margin: 0;
	border: 1px solid #b7b7b7;
	background-image: initial;
	text-indent: 0;
	text-align: center;
	font-size: 18px;
	line-height: 26px;
}

.dp-numberPicker,
.dp-numberPicker-add,
.dp-numberPicker-sub,
.dp-numberPicker-input {
	display: inline-block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-align: center;
	vertical-align: top;
	height: 30px;
}

.dp-numberPicker {
	border-radius: 3px;
}

.redux-container .redux-container-spinner .dp-numberPicker-add,
.redux-container .redux-container-spinner .dp-numberPicker-sub {
	width: 30px;
	font-size: 21px;
	cursor: pointer;
	-moz-user-select: none;
	-webkit-user-select: none;
	background-color: #33b5e5;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	height: 29px !important;
}
.redux-container .redux-container-spinner .dp-numberPicker-add.disabled,
.redux-container .redux-container-spinner .dp-numberPicker-sub.disabled {
	background-color: #2c6a81;
}

.dp-numberPicker-add {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.dp-numberPicker-sub {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.dp-numberPicker-input {
	width: 70px;
	background-color: #eee;
	border: 0;
	margin: 0 !important;
	-webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 1px rgba(0, 0, 0, 0.5);
	        box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5), inset 0 -1px 1px rgba(0, 0, 0, 0.5);
}
.dp-numberPicker-input:disabled {
	background-color: #eee;
}
/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInJlZHV4LXNwaW5uZXIuc2NzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFDSTtDQUNJO0NBQ0E7Q0FDQTtDQUNBOztBQUVBO0NBQ0k7Q0FDQTtDQUNBO0NBQ0E7Q0FDQTtDQUNBO0NBQ0E7Q0FDQTtDQUNBO0NBQ0E7Q0FDQTs7QUFJUjtDQUNJO0NBQ0E7O0FBSUo7Q0FDSTtDQUNBOztBQUdKO0NBQ0k7Q0FDQTtDQUNBO0NBQ0E7Q0FDQTtDQUNBO0NBQ0E7Q0FDQTtDQUNBO0NBQ0E7Q0FDQTtDQUNBO0NBQ0E7Q0FDQTtDQUNBOztBQUdKO0FBQUE7Q0FFSTtDQUNBO0NBQ0E7Q0FDQTtDQUNBOztBQUdKO0FBQUE7Q0FFSTtDQUNBO0NBQ0E7O0FBR0o7QUFBQTtDQUVJO0NBQ0E7Q0FDQTs7QUFJQTtDQUNJO0NBQ0E7Q0FDQTtDQUNBO0NBQ0E7Q0FDQTtDQUNBO0NBQ0E7Q0FDQTtDQUNBO0NBQ0E7OztBQUtaO0FBQUE7QUFBQTtBQUFBO0NBSUk7Q0FDQTtDQUNBO0NBQ0E7Q0FDQTs7O0FBR0o7Q0FDSTs7O0FBR0o7QUFBQTtDQUVJO0NBQ0E7Q0FDQTtDQUNBO0NBQ0E7Q0FDQTtDQUNBO0NBQ0E7Q0FDQTs7QUFFQTtBQUFBO0NBQ0k7OztBQUlSO0NBQ0k7Q0FDQTs7O0FBR0o7Q0FDSTtDQUNBOzs7QUFHSjtDQUNJO0NBQ0E7Q0FDQTtDQUNBO0NBQ0EsWUFDSTs7QUFHSjtDQUNJIiwiZmlsZSI6InJlZHV4LXNwaW5uZXIuY3NzIn0= */

/*# sourceMappingURL=redux-spinner.css.map */
