.editor\:no-inserter > .block-list-appender,
.editor\:no-inserter .wp-block-group__inner-container > .block-list-appender {
    display: none
}
.editor\:no-inserter .wp-block-cover__inner-container > .block-list-appender {
    display: none
}
.editor\:no-inserter .wp-block-column:not(.is-selected) > .block-list-appender {
    display: none
}