.editor\:no-resize .components-resizable-box__handle::after,
.editor\:no-resize .components-resizable-box__side-handle::before,
.editor\:no-resize .components-resizable-box__handle{
    display: none;
    pointer-events: none
}

.editor\:no-resize .components-resizable-box__container {
    display: block
}