@import "../../variables";
.action-buttons {
    span,
    a {
        display: inline-block;
        padding: 0 12px 2px;
        margin: 2px;
        height: 33px;
        line-height: 32px;
        font-size: 13px;
        color: #353535;
        border: 1px solid #f7f7f7;
        background: #f7f7f7;
        box-shadow: 0 1px 2px #ddd;
        vertical-align: top;
        border-radius: 3px;
        text-decoration: none;
        cursor: pointer;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        &:hover {
            box-shadow: 0 1px 2px #ccc;
            background: #f1f1f1;
        }
    }

    span i,
    a i {
        font-size: 10px;
        margin-right: 4px;
    }

    span {
        background: #0085ba;
        border-color: #006a95 #00648c #00648c;
        box-shadow: inset 0 -1px 0 #00648c;
        color: #fff;
        text-decoration: none;
        text-shadow: 0 -1px 1px #005d82, 1px 0 1px #005d82, 0 1px 1px #005d82, -1px 0 1px #005d82;
    }

    a.redux-templates-button-download {
        border: 1px solid $missingColorHover;
        background: $missingColorHover;
        box-shadow: 0 1px 0 #165cb4;
        color: #fff;
    }

    .redux-templates-button-download {
        margin-left: 5px;
    }

    i.challenge-dot {
        margin-top: 10px;
        margin-left: 5px;
    }
}
