.redux-templates-button-display-dependencies {
    display: flex;
    justify-content: center;
    margin: 10px;
    span {
        svg {
            margin-right: 5px;
            cursor: pointer;
        }
        svg * {
            fill: #f7f7f7;
        }
        &.missing-dependency {
            svg * {
                fill: rgba(247, 247, 247, 0.5);
            }
        }
    }
}
