
.redux-info-field{min-height:20px;padding:19px;margin-top:20px;margin-bottom:15px;background-color:#f5f5f5;border:1px solid #e3e3e3;border-radius:4px;color:#999;background-color:#eff9ff;border:1px solid #d6f0ff;color:#777;position:relative}.redux-info-field h3{color:#777}
