.redux-templates-template-filters .is-active {
    background: #fff;
    color: #191e23;
    box-shadow: inset 0 0 0 1px #555d66, inset 0 0 0 2px #fff;
}

.redux-templates-template-filters .components-button:focus:not(:disabled):not(.is-active) {
    background: transparent;
    box-shadow: none;
    color: #555d66;
}

.refresh-library {
    margin-right: 10px;
}
.tour-icon {
    font-size: 18px;
}
.trial_notice {
    * {
        vertical-align: middle;
    }
    .components-notice__content {
        margin-right: 0;
    }
}
