.redux-container-sortable label {
  margin-right: 10px;
  width: 300px;
}
.redux-container-sortable input[type='checkbox'] {
  margin-right: 10px;
}
.redux-container-sortable .checkbox-container {
  width: 356px;
}
.redux-container-sortable .checkbox-container .drag {
  float: right;
}
