.redux-container-border {
  .select2-container {
    margin-right: 10px;
  }
  .select_wrapper {
    float: left;
    width: inherit;
    select {
      width: 80px;
      float: left;
    }
  }
  .field-border-input {
    margin-right: 10px;
    margin-bottom: 7px;
  }
}
