/* line 2, rtl.scss */
#redux-container .redux-action_bar {
  float: left;
}

/* line 7, rtl.scss */
#redux-container #expand_options,
#redux-sidebar,
.cb-enable,
.cb-disable,
.cb-enable span,
.cb-disable span,
#redux-footer #redux-share {
  float: right;
}

/* line 17, rtl.scss */
#redux-main {
  border-left: 0px;
  margin-left: 0px;
  border-right: 1px solid #d8d8d8;
  margin-right: 201px;
}

/* line 24, rtl.scss */
.redux-group-tab-link-a {
  padding-left: 0px;
  padding-right: 30px;
}
/* line 28, rtl.scss */
.redux-group-tab-link-a i {
  padding-left: 10px;
  padding-right: 5px;
}
/* line 33, rtl.scss */
.redux-group-tab-link-a span.group_title {
  padding-left: 0px;
  padding-right: 30px;
}

/* line 39, rtl.scss */
.redux-container .expand_options,
.redux-sidebar,
.cb-enable,
.cb-disable,
.cb-enable span,
.cb-disable span,
#redux-footer #redux-share {
  float: right;
}

/* line 49, rtl.scss */
.redux_slider {
  margin-left: 0px;
  margin-right: 15px;
}

/* line 54, rtl.scss */
.redux-action_bar {
  float: left !important;
}

/* line 58, rtl.scss */
.expand_options {
  float: right !important;
  border: 1px solid #f00;
}

/* line 63, rtl.scss */
.redux_field_th {
  padding: 20px 0 20px 10px !important;
}

/* line 67, rtl.scss */
.field-desc {
  text-align: right;
}

/* line 71, rtl.scss */
.redux-container-ace_editor,
.redux-container-border,
.redux-container-spacing,
.redux-container-dimensions {
  direction: ltr !important;
}

/* line 78, rtl.scss */
.redux-container-border .field-border-input,
.redux-container-border .redux-color-init,
.redux-container-border .redux-border-style,
.redux-container-sorter,
.redux-container-border,
.redux-container-spacing,
.redux-container-spacing .field-spacing-input,
.redux-container-dimensions .redux-dimensions-container,
.redux-container-text label,
.redux-container-checkbox input,
.typography-font-bar,
.typography-style-bar,
.redux-color.redux-typography-color,
.redux-typography-subsets {
  float: right !important;
}

/* line 95, rtl.scss */
.input-append {
  margin-right: 10px;
  direction: ltr !important;
}

/* line 99, rtl.scss */
.redux-container-slider,
.redux-container-spinner,
.redux-container-switch {
  direction: ltr !important;
  float: right;
  margin: 0;
}

/* line 107, rtl.scss */
.redux-main .redux-typography-container .typography-preview {
  text-align: center !important;
  direction: ltr !important;
}

/* line 112, rtl.scss */
.redux-info-field .redux-info-icon {
  margin-left: 15px;
}

/* line 116, rtl.scss */
#redux-share {
  float: right !important;
}
