.has-foreground-color {
    /* no suggestion */
    color: var(--wp--preset--color--foreground, #000) !important;
}

.has-foreground-background-color {
    /* no suggestion */
    background-color: var(--wp--preset--color--foreground, #000) !important;
}

.has-background-color {
    /* no suggestion */
    color: var(--wp--preset--color--background, #fff) !important;
}

.has-background-background-color {
    /* no suggestion */
    background-color: var(--wp--preset--color--background, #fff) !important;
}

.has-primary-color {
    /* no suggestion */
    color: var(--wp--preset--color--primary, #4b5563) !important;
}

.has-primary-background-color {
    /* no suggestion */
    background-color: var(--wp--preset--color--primary, #4b5563) !important;
}

.has-secondary-color {
    /* no suggestion */
    color: var(--wp--preset--color--secondary, #9ca3af) !important;
}

.has-secondary-background-color {
    /* no suggestion */
    background-color: var(--wp--preset--color--secondary, #9ca3af) !important;
}

/* Ensure themes that target specific elements use the right colors */
.ext.has-text-color p,
.ext.has-text-color h1,
.ext.has-text-color h2,
.ext.has-text-color h3,
.ext.has-text-color h4,
.ext.has-text-color h5,
.ext.has-text-color h6 {
    /* no suggestion */
    color: currentColor;
}

.has-white-color {
    /* no suggestion */
    color: var(--wp--preset--color--white, #fff) !important;
}

.has-black-color {
    /* no suggestion */
    color: var(--wp--preset--color--black, #000) !important;
}

.has-ext-foreground-background-color {
    /* no suggestion */
    background-color: var(
        --wp--preset--color--foreground,
        var(--wp--preset--color--black, #000)
    ) !important;
}

.has-ext-primary-background-color {
    /* no suggestion */
    background-color: var(
        --wp--preset--color--primary,
        var(--wp--preset--color--cyan-bluish-gray, #000)
    ) !important;
}

/* Fix button borders with specified background colors */
.wp-block-button__link.has-black-background-color {
    /* no suggestion */
    border-color: var(--wp--preset--color--black, #000);
}

.wp-block-button__link.has-white-background-color {
    /* no suggestion */
    border-color: var(--wp--preset--color--white, #fff);
}
