.has-ext-small-font-size {
    /* no suggestion */
    font-size: var(--wp--preset--font-size--ext-small) !important;
}

.has-ext-medium-font-size {
    /* no suggestion */
    font-size: var(--wp--preset--font-size--ext-medium) !important;
}

.has-ext-large-font-size {
    /* no suggestion */
    font-size: var(--wp--preset--font-size--ext-large) !important;
    line-height: 1.2;
}

.has-ext-x-large-font-size {
    /* no suggestion */
    font-size: var(--wp--preset--font-size--ext-x-large) !important;
    line-height: 1;
}

.has-ext-xx-large-font-size {
    /* no suggestion */
    font-size: var(--wp--preset--font-size--ext-xx-large) !important;
    line-height: 1;
}

/* Line height */
.has-ext-x-large-font-size:not([style*="line-height"]) {
    /* no suggestion */
    line-height: 1.1;
}

.has-ext-xx-large-font-size:not([style*="line-height"]) {
    /* no suggestion */
    line-height: 1.1;
}

.ext .wp-block-group > * {
    /* Line height */
    margin-top: 0;
    margin-bottom: 0;
}

.ext .wp-block-group > * + * {
    margin-top: var(--wp--style--block-gap, 1.75rem);
    margin-bottom: 0;
}

.ext h2 {
    margin-top: var(--wp--style--block-gap, 1.75rem);
    margin-bottom: var(--wp--style--block-gap, 1.75rem);
}

.has-ext-x-large-font-size + p,
.has-ext-x-large-font-size + h3 {
    margin-top: 0.5rem;
}

.ext .wp-block-buttons > .wp-block-button.wp-block-button__width-25 {
    width: calc(25% - var(--wp--style--block-gap, 0.5em) * 0.75);
    min-width: 12rem;
}
