.ext.wp-block-group > *:last-child {
    /* no suggestion */
    @apply ext-mb-0;
}

/* For <5.9 */
.ext .wp-block-group__inner-container {
    /* no suggestion */
    @apply ext-p-0 !important;
}

.ext.has-background {
    /* no suggestion */
    @apply ext-px-base;
}

/* Fallback for classic theme group blocks */
.ext *[class*="inner-container"] > .alignwide *[class*="inner-container"] {
    /* no suggestion */
    max-width: var(--responsive--alignwide-width, 120rem);
}

.ext *[class*="inner-container"] > .alignwide *[class*="inner-container"] > * {
    /* no suggestion */
    @apply ext-max-w-full !important;
}

.ext *[class*="inner-container"] > .alignfull *[class*="inner-container"] {
    /* no suggestion */
    @apply ext-max-w-full;
}

.ext *[class*="inner-container"] > .alignfull *[class*="inner-container"] > * {
    /* no suggestion */
    @apply ext-max-w-full !important;
}
